header {
  /*字体*/
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  /*box-model*/
  border: 1px solid;
  padding: 10px 40px 10px 30px;

  /*flexbox*/
  display: flex;
  flex-direction: row;
    /*nav靠右*/
  justify-content: space-between;
  align-items:center;
}

li {
  display: inline-block;
  margin: 0px 13px;
}

.logo p {
  display: inline;
  color: MediumAquamarine;
  padding-left: 6px;
  /*调整垂直方向居中*/
  position: relative;
  top: -25px;
}
